USE [master]
GO
/****** Object:  Database [NomNom]    Script Date: 11.04.2026 17:44:51 ******/
CREATE DATABASE [NomNom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NomNom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\NomNom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NomNom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\NomNom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NomNom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NomNom]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11.04.2026 17:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 11.04.2026 17:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRecipe] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[NumberStep] [int] NOT NULL,
	[StepFormula] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 11.04.2026 17:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Time] [nvarchar](10) NOT NULL,
	[NumberServings] [int] NULL,
	[ResultImage] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](25) NOT NULL,
	[Kitchen] [nvarchar](100) NULL,
	[RecipeHistory] [nvarchar](max) NULL,
	[Ingridients] [nvarchar](max) NOT NULL,
	[Calories] [int] NULL,
	[Proteins] [int] NULL,
	[Fats] [int] NULL,
	[Carbs] [int] NULL,
	[Likes] [int] NOT NULL,
	[Saves] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RecipeTip] [nvarchar](max) NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeBook]    Script Date: 11.04.2026 17:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeBook](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRecipe] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_RecipeBook] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11.04.2026 17:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[AvatarURL] [varchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250910135936_init', N'9.0.2')
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [IdRecipe], [IdUser], [NumberStep], [StepFormula], [ImageUrl]) VALUES (11, 4, 1, 1, N'Положите весь творог в кастрюльку и разомните его вилкой так, чтобы в нем не осталось крупных комков. Разбейте в него яйца, всыпьте сахар и тщательно все перемешайте. Лучше не использовать слишком сухой или слишком влажный творог, иначе сырники будут разваливаться в процессе приготовления.', N'https://res.cloudinary.com/dzgmeqs7u/image/upload/v1757679144/my_images/1_pcpz4y.png')
INSERT [dbo].[Images] ([Id], [IdRecipe], [IdUser], [NumberStep], [StepFormula], [ImageUrl]) VALUES (12, 4, 1, 2, N'Всыпьте в творог 5 столовых ложек (с горкой) муки и тщательно перемешайте. Можно добавить немного больше муки, сырники получатся тогда более плотными. Или муки можно добавить чуть меньше, и тогда сырники будут нежнее. В итоге у вас должна получиться однородная масса, из которой можно будет лепить сырники.', N'https://res.cloudinary.com/dzgmeqs7u/image/upload/v1757679154/my_images/2_p8ztpi.png')
INSERT [dbo].[Images] ([Id], [IdRecipe], [IdUser], [NumberStep], [StepFormula], [ImageUrl]) VALUES (13, 4, 1, 3, N'Поставьте сковороду на средний огонь и налейте в нее подсолнечное масло.', N'https://res.cloudinary.com/dzgmeqs7u/image/upload/v1757679162/my_images/3_mbru2d.png')
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipe] ON 

SET IDENTITY_INSERT [dbo].[Recipe] OFF
GO
SET IDENTITY_INSERT [dbo].[RecipeBook] ON 

INSERT [dbo].[RecipeBook] ([Id], [IdRecipe], [IdUser]) VALUES (22, 4, 1)
INSERT [dbo].[RecipeBook] ([Id], [IdRecipe], [IdUser]) VALUES (23, 5, 1)
INSERT [dbo].[RecipeBook] ([Id], [IdRecipe], [IdUser]) VALUES (24, 4, 6)
SET IDENTITY_INSERT [dbo].[RecipeBook] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FirstName], [SecondName], [Email], [Login], [Password], [AvatarURL], [Role], [CreatedAt]) VALUES (1, N'Артём', N'Воложанин', N'kingoffier@mail.ru', N'kingoffier', N'$2a$11$Ru3ChAaxRr7/8ihcd3bOmeIFK.hI1OthHyoQFs4noCWCLaWdq22UC', N'https://res.cloudinary.com/dzgmeqs7u/image/upload/v1757512876/my_images/1645970742_35-kartinkin-net-p-kartinki-dlya-zuma-smeshnie-39_fzvqhd.jpg', 1, CAST(N'2025-09-10T19:01:17.1453410' AS DateTime2))
INSERT [dbo].[User] ([Id], [FirstName], [SecondName], [Email], [Login], [Password], [AvatarURL], [Role], [CreatedAt]) VALUES (3, N'Андрей', N'Совельев', N'soveliev@gmail.com', N'soveliy', N'$2a$11$Ru3ChAaxRr7/8ihcd3bOmeIFK.hI1OthHyoQFs4noCWCLaWdq22UC', N'https://res.cloudinary.com/dzgmeqs7u/image/upload/v1757514231/my_images/Screenshot_27_zf4fit.png', 1, CAST(N'2025-09-10T19:23:51.7982792' AS DateTime2))
INSERT [dbo].[User] ([Id], [FirstName], [SecondName], [Email], [Login], [Password], [AvatarURL], [Role], [CreatedAt]) VALUES (6, N'Andrew', N'Tate', N'tate@gmail.com', N'titi', N'$2a$11$hx4RWbhuf8KhOnMg8UeuLe.33.QqWo01kO5qYoubU6mtCL4LnrA1e', N'https://res.cloudinary.com/dzgmeqs7u/image/upload/v1764407322/my_images/1d6a216e02efd9acc9fee35cb347b2d6_ks27us.jpg', 1, CAST(N'2025-11-29T14:08:44.0856091' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_Images_IdRecipe]    Script Date: 11.04.2026 17:44:51 ******/
CREATE NONCLUSTERED INDEX [IX_Images_IdRecipe] ON [dbo].[Images]
(
	[IdRecipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recipe_IdUser]    Script Date: 11.04.2026 17:44:51 ******/
CREATE NONCLUSTERED INDEX [IX_Recipe_IdUser] ON [dbo].[Recipe]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecipeBook_IdRecipe]    Script Date: 11.04.2026 17:44:51 ******/
CREATE NONCLUSTERED INDEX [IX_RecipeBook_IdRecipe] ON [dbo].[RecipeBook]
(
	[IdRecipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecipeBook_IdUser]    Script Date: 11.04.2026 17:44:51 ******/
CREATE NONCLUSTERED INDEX [IX_RecipeBook_IdUser] ON [dbo].[RecipeBook]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [Role]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Recipe] FOREIGN KEY([IdRecipe])
REFERENCES [dbo].[Recipe] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Recipe]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_User]
GO
ALTER TABLE [dbo].[RecipeBook]  WITH CHECK ADD  CONSTRAINT [FK_RecipeBook_Recipe] FOREIGN KEY([IdRecipe])
REFERENCES [dbo].[Recipe] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecipeBook] CHECK CONSTRAINT [FK_RecipeBook_Recipe]
GO
ALTER TABLE [dbo].[RecipeBook]  WITH CHECK ADD  CONSTRAINT [FK_RecipeBook_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[RecipeBook] CHECK CONSTRAINT [FK_RecipeBook_User]
GO
USE [master]
GO
