-- Создаём базу данных (без указания путей — SQL Server сам управляет файлами)
CREATE DATABASE NomNom;
GO

-- Используем созданную базу
USE NomNom;
GO

-- Таблица миграций EF
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
	CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED ([MigrationId] ASC)
);
GO

-- Таблица Images
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRecipe] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[NumberStep] [int] NOT NULL,
	[StepFormula] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED ([Id] ASC)
);
GO

-- Таблица Recipe
CREATE TABLE [dbo].[Recipe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Time] [nvarchar](10) NOT NULL,
	[NumberServings] [int] NULL,
	[ResultImage] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](25) NOT NULL,
	[Kitchen] [nvarchar](100) NULL,
	[RecipeHistory] [nvarchar](max) NULL,
	[Ingridients] [nvarchar](max) NOT NULL,
	[Calories] [int] NULL,
	[Proteins] [int] NULL,
	[Fats] [int] NULL,
	[Carbs] [int] NULL,
	[Likes] [int] NOT NULL,
	[Saves] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RecipeTip] [nvarchar](max) NULL,
	[IdUser] [int] NOT NULL,
	CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED ([Id] ASC)
);
GO

-- Таблица RecipeBook
CREATE TABLE [dbo].[RecipeBook](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRecipe] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	CONSTRAINT [PK_RecipeBook] PRIMARY KEY CLUSTERED ([Id] ASC)
);
GO

-- Таблица User
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[AvatarURL] [varchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED ([Id] ASC)
);
GO

-- Данные: миграции
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250910135936_init', N'9.0.2');
GO

-- Данные: Images
SET IDENTITY_INSERT [dbo].[Images] ON;
SET IDENTITY_INSERT [dbo].[Images] OFF;
GO

-- Данные: Recipe
SET IDENTITY_INSERT [dbo].[Recipe] ON;
SET IDENTITY_INSERT [dbo].[Recipe] OFF;
GO

-- Данные: RecipeBook
SET IDENTITY_INSERT [dbo].[RecipeBook] ON;
INSERT [dbo].[RecipeBook] ([Id], [IdRecipe], [IdUser]) VALUES 
(22, 4, 1),
(23, 5, 1),
(24, 4, 6);
SET IDENTITY_INSERT [dbo].[RecipeBook] OFF;
GO

-- Данные: User
SET IDENTITY_INSERT [dbo].[User] ON;
SET IDENTITY_INSERT [dbo].[User] OFF;
GO

-- Индексы
CREATE NONCLUSTERED INDEX [IX_Images_IdRecipe] ON [dbo].[Images] ([IdRecipe] ASC);
GO
CREATE NONCLUSTERED INDEX [IX_Recipe_IdUser] ON [dbo].[Recipe] ([IdUser] ASC);
GO
CREATE NONCLUSTERED INDEX [IX_RecipeBook_IdRecipe] ON [dbo].[RecipeBook] ([IdRecipe] ASC);
GO
CREATE NONCLUSTERED INDEX [IX_RecipeBook_IdUser] ON [dbo].[RecipeBook] ([IdUser] ASC);
GO

-- Внешние ключи
ALTER TABLE [dbo].[Images] ADD CONSTRAINT [FK_Images_Recipe] FOREIGN KEY([IdRecipe]) REFERENCES [dbo].[Recipe] ([Id]) ON DELETE CASCADE;
GO
ALTER TABLE [dbo].[Recipe] ADD CONSTRAINT [FK_Recipe_User] FOREIGN KEY([IdUser]) REFERENCES [dbo].[User] ([Id]) ON DELETE CASCADE;
GO
ALTER TABLE [dbo].[RecipeBook] ADD CONSTRAINT [FK_RecipeBook_Recipe] FOREIGN KEY([IdRecipe]) REFERENCES [dbo].[Recipe] ([Id]) ON DELETE CASCADE;
GO
ALTER TABLE [dbo].[RecipeBook] ADD CONSTRAINT [FK_RecipeBook_User] FOREIGN KEY([IdUser]) REFERENCES [dbo].[User] ([Id]);
GO

